<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About Flask</title>
	</head>
	<body>
		{% extends "template.html" %}
		{% block content %}

		<h1>Music Stream Test</h1>

		<audio controls autoplay="autoplay">
			<source src="{{audio_url}}" type="audio/mpeg">
		</audio>
		
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse beatae sequi dolores fuga dolorem! Incidunt, quaerat. Veniam quo consequatur praesentium quidem, iusto nam? Modi magni adipisci optio architecto eligendi saepe!</p>

		{% endblock %}
	</body>
</html>
